.aboutme {
    padding: 3em 0em;
}
.aboutme>h1 {
    font-size: 45px;
    text-align: center;
}
.aboutme>h1>i {
    font-size: 40px;
}
.aboutme>div {
    display: flex;
    flex-wrap: wrap;
}
.aboutme>div>div {
    margin-left: 10%;
}
.aboutmeImg>img {
    margin: 0px auto;
    width: 22em;
    border-radius: 20px;
    box-shadow: 10px 10px 10px lightgray;
    filter: grayscale(100%); 
    transition: .5s;
}
.aboutmeImg>img:hover {
    box-shadow: 10px 10px 10px rgb(168, 167, 167);
    filter: none;
    transform: skew(ax, ay);
    transition-duration: 1s;
}
.aboutmeDetails>h2 {
    font-weight: bolder;
}
.aboutmeDetails>p {
    font-weight: bold;
}
.aboutmeDetails>h4 {
    font-size: 18px;
    font-weight: lighter;
    color: black;
}
.aboutmeContact {
    display: grid;
    grid-template-columns: 30% 50%;
    font-size: 18px;
    margin-bottom: 30px;
}
.aboutmeContact>p {
    color: dodgerblue;
}
.aboutmeContact>p>span {
    color: black;
    margin-left: 5px;
}
.aboutmeDetails>a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 20px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 15px;
    transition: .5s;
}
.aboutmeDetails>a:hover {
    box-shadow: 5px 5px 5px rgb(81, 81, 82);
    transition: 1s;
}   
.aboutmeDetails>a>i {
    font-size: 25px;
}
.aboutmeDetails>a:hover {
    color: black;
    transition: 1s;
}

@media only screen and (max-width: 500px) {
    .aboutmeContact {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 400px) {
    .aboutmeImg>img {
        width: 70%;
    }
}