.education {
    padding: 2em 0;
    align-content: center;
    background-color: #f7f7f7;
}

.education>h1 {
    font-size: 45px;
    text-align: center;
}

.education>div {
    margin: 0em 14%;
}

.education>div>div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgray;
    padding: .5em 1em 1em 1em;
    margin: 1em 1em 1em 1em;
    transition: .5s;
}

.education>div>div:hover {
    box-shadow: 10px 10px 10px rgb(168, 167, 167);
    transition-duration: 1s;
}

.education>div>div>h2 {
    color: darkblue;
}

.education>div>div>h4 {
    font-weight: normal;
}

.education>div>div>h3 {
    color: green;
}

@media only screen and (max-width: 400px) {
    .education>div {
        margin: 0 4%;
    }
}