footer {
    background-color: black;
    width: 100%;
    color: white;
    padding-top: 30px;
    padding-bottom: 1px;
}

.footerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.footerContent>div {
    display: flex;
    flex-direction: column;
}

.footerAbout {
    width: 30em;
}

.footerAbout>p {
    margin-right: 5em;
    color: rgb(173, 169, 169);
    font-size: 19px;
}

.footerLinks {
    width: 20em;
}

.footerLinks>a {
    font-weight: bold;
    font-size: 19px;
    padding: 8px 0px;
    color: rgb(173, 169, 169);
    transition: .5s;
}

.footerLinks>a:hover {
    color: dodgerblue;
    transition: .5s;
}

.footerContact {
    width: 30em;
}

.footerContact>p {
    color: rgb(173, 169, 169);
    font-size: 19px;
}

.footerContact>p>span {
    color: blueviolet;
    padding-right: 10px;
}

.footerContact>div {
    width: 20em;
    margin: 20px 0px;
}

.footerContact>div>a {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    color: black;
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    transition: .7s;
}

.footerContact>div>a:hover {
    background-color: transparent;
    color: blueviolet;
    transition: .7s;
}

footer>p {
    font-size: 19px;
    text-align: center;
    padding-top: 30px;
}

footer>p>span {
    color: red;
}

footer>p>a {
    color: blueviolet;
    transition: .5s;
}

footer>p>a:hover {
    color: white;
    transition: .5s;
}

@media only screen and (max-width: 900px) {
    .footerLinks>* {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    footer>p {
        margin: 0 20px 20px 20px;
    }
}