.home {
    text-align: center;
    padding: 15em 0em 12em 0em;
}

.home>div {
    text-align: center;
}

.home h3 {
    font-size: 20px;
}

.home h1 {
    font-size: 55px;
}

.home h2 {
    font-size: 25px;
}
.connectMe {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.connectMe>a {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    width: 1.2em;
    height: 1.2em;
    color: white;
    border: 1px solid black;
    background-color: black;
    border-radius: 50px;
    transition: .7s;
}

.connectMe>a:hover {
    background-color: transparent;
    color: blueviolet;
    transition: .7s;
}