.projects {
    padding-top: 1em;
    padding-bottom: 1em;
    align-content: center;
    background-color: #2b3dda;
}
.projects>h1 {
    font-size: 45px;
    text-align: center;
    color: white;
    margin-bottom: 2em;
    padding-bottom: -2em;
}
.projects>div {
    margin: 0em 5%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.projects>div>div {
    margin: 1em 1em 1em 1em;
}
.projects>div>div>img {
    margin: .5em auto 0 auto;
    width: 400px;
    height: 400px;
    object-fit:cover;
    border-radius: 5px;
}

.projectContent {
    position: absolute;
    background-color: rgb(100, 254, 154);
    margin-top: -2em;
    width: 25em;
    height: 50px;
    border-radius: 0px 0px 5px 5px;
    transition: .5s;
}
.projects>div>div:hover .projectContent {
    margin-top: -7em;
    height: 120px;
    transition: .3s;
}

.projectContent>h2 {
    margin-top: 10px;
    margin-left: 10px;
}

.projectContent>a {
    margin: 0px 2em 0px 2em;
    padding: 15px 30px 15px 30px;
    background-color: black;
    color: rgb(100, 254, 154);
    border-radius: 5px;
    opacity: 0;
    transition: .5s;
}
.projects>div>div:hover .projectContent>a {
    opacity: 1;
    transition: .3s;
}

.projectContent>a:hover {
    background-color: #2b3dda;
    transition: .2s;
}