:root {
  --background-color1: #f7f7f7;
  --background-color2: rgb(43, 61, 218);
  --text-color1: black;
  --text-color2: #f7f7f7;
  --hover-color1: dodgerblue;
  --hover-color2: blueviolet;
  --color1: rgb(194, 189, 190);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color1);
  cursor: default;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-color1);
}

::-webkit-scrollbar {
  width: 0;
}